[submodule "Inversion_search"]
	path = Inversion_search
	url = https://github.com/polyaB/Inversion_search
[submodule "ExoC-translocation-finder"]
	path = ExoC-translocation-finder
	url = https://github.com/TimaLagunov/ExoC-translocation-finder.git
